"""
templates
def ${settings_name}():
    print("Hello from ${settings_name}!")
"""

from .settings import *

# 阿里云发送短信
ALIBABA_CLOUD_ACCESS_KEY_ID = ""
ALIBABA_CLOUD_ACCESS_KEY_SECRET = ""

ALIBABA_CLOUD_SIGN_NAME = ""
ALIBABA_CLOUD_ENDPOINT = ""
ALIBABA_CLOUD_TEMPLATE_CODE = ""
